*.css
*.d.ts
*.ico
*.jpeg
*.jpg
*.map
*.md
*.njk
*.patch
*.png
*.scss
*.sh
*.spec.js
*.svg
*.toml
*.tsbuildinfo
*.txt
*.yml
*.yaml
*.min.js
*.tgz
*.csv
CNAME

custom-elements.json
package-lock.json

node_modules
node_modules/**/*

src/**/*.js
!src/**/*.ts
lib/**/*.js
scripts/*.js
!src/*/demo/*.js



